.git
.github
.gitignore

venv/
.venv/

__pycache__/
*.pyc

.pytest_cache/
.mypy_cache/

logs/
tests/logs/

file_uploads/

rag_evaluation/report.json
rag_evaluation/state.json

.env
.env.testing

.idea/
.vscode/

migrations/__pycache__/

assets/

*.db

.coverage
htmlcov